body {
    background: orange;
}
div.comment {
    background: white;
    margin-left: 5%;
    width: 90%;
    margin-bottom: 1em;
    
    
}
div.form {
    padding-top: 2%;
    padding-left: 35%;
    padding-right: 35%;
   
}
form {
 background:rgb(30, 239, 116);;
}
textarea {
    margin-top: 2%;
    margin-left: 5%;
    width: 90%;
    height: 6em;
}
input {
margin-left: 5%;
margin-bottom: 2em;
    width: 40%;
    height: 3em;
 background: rgba(100, 135, 221, 0.76);   
}
a {
    margin-left: 1em;
    font-size: 1.3em;
}
p {
    margin-left: 2em;
    font-family: cursive;
}