#divcity {
    background-image: url(1.jpg);
    margin-left: 30%;
    margin-right: 30%;
    
}
h3,select {
    margin-left: 12em;
    align: center;
}
button{
    width: 158px;
    margin-left: 22em;
}
h3 {
    font-family: cursive;
    padding-top: 5em;
    margin-top: 6em;
}
button {
    margin-top: 0.5em;
    margin-bottom: 10em;
}